{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'blog/css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/globals.css' %}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <style></style>
      {%block navigation%}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" href="{% url 'home' %}">
            <img
              src="{% static 'blog/images/GS_logo.jpg' %}"
              height="50"
              alt=""
              loading="lazy"
              style="margin-top: -3px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
              </li>
            </ul>

            <ul class="navbar-nav d-flex flex-row">
              <!-- Icons -->
              <li class="nav-item me-3 me-lg-0">
                <a
                  class="nav-link"
                  href="https://www.youtube.com"
                  rel="nofollow"
                  target="_blank"
                >
                  <i class="fas fa-youtube"></i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a
                  class="nav-link"
                  href="https://www.facebook.com"
                  rel="nofollow"
                  target="_blank"
                >
                  <i class="fas fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a
                  class="nav-link"
                  href="https://twitter.com"
                  rel="nofollow"
                  target="_blank"
                >
                  <i class="fas fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a
                  class="nav-link"
                  href="https://github.com"
                  rel="nofollow"
                  target="_blank"
                >
                  <i class="fas fa-github"></i>
                </a>
              </li>
            </ul>

            <!-- Avatar -->
            <div class="dropdown">
              <a
                class="dropdown-toggle d-flex align-items-center hidden-arrow"
                href="#"
                id="navbarDropdownMenuAvatar"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  class="rounded-circle"
                  height="25"
                  alt="Black and White Portrait of a Man"
                  loading="lazy"
                />
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuAvatar"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'profile' %}"
                    >My profile</a
                  >
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="{% url 'login' %}">Log in</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
      {%endblock%}
    </header>

    <!--Main layout-->
    <main>
      {% block content %} {% for post in posts %}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text">
              <small class="text-muted">Posted on {{ post.created_at }}</small>
            </p>
            <div class="like-dislike-buttons">
              <button
                class="btn btn-primary like-button"
                data-post-id="{{ post.id }}"
              >
                Like
              </button>
              <button
                class="btn btn-danger dislike-button"
                data-post-id="{{ post.id }}"
              >
                Dislike
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% endblock %}
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="bg-light text-lg-start">
      <hr class="m-0" />

      <div class="text-center py-4 align-items-center">
        <p>Follow us on social media!</p>
        <a
          href="https://www.youtube.com"
          class="btn btn-primary m-1"
          role="button"
          rel="nofollow"
          target="_blank"
        >
          <i class="fas fa-youtube"></i>
        </a>
        <a
          href="https://www.facebook.com"
          class="btn btn-primary m-1"
          role="button"
          rel="nofollow"
          target="_blank"
        >
          <i class="fas fa-facebook-f"></i>
        </a>
        <a
          href="https://twitter.com"
          class="btn btn-primary m-1"
          role="button"
          rel="nofollow"
          target="_blank"
        >
          <i class="fas fa-twitter"></i>
        </a>
        <a
          href="https://github.com"
          class="btn btn-primary m-1"
          role="button"
          rel="nofollow"
          target="_blank"
        >
          <i class="fas fa-github"></i>
        </a>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      ></div>
    </footer>
    <!--Footer-->

    <!-- Custom scripts -->
    <script src="{% static 'blog/js/mdb.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
