{% extends 'blogProject/layout.html' %} {% load static %} {% block content %}
<html>
  <head>
    <title>Post details</title>
    <link rel="stylesheet" href="{% static 'blog/css/globals.css' %}" />
  </head>
  <body>
    <div class="post-details-container">
      <h2>Title: {{ post.title }}</h2>
      <p>Content: {{ post.content }}</p>
      <p>Author: {{ post.created_by.username }}</p>
      <p>Created at: {{ post.created_at }}</p>
      <p>Updated at: {{ post.updated_at }}</p>
      <button id="backButton" class="btn btn-primary w-15">Back</button>
    </div>
  </body>
  <script>
    document
      .getElementById("backButton")
      .addEventListener("click", function () {
        history.back();
      });
  </script>
</html>
{% endblock %}
