{% extends 'blogProject/layout.html' %}
{% block content %}
  <div class="container">
    <h1 class="mt-4 mb-4">Blog Posts</h1>

    <div class="row">
      {% include 'posts/card_layout.html' with posts=posts %} 
    </div>
    
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".like-button").click(function () {
        var postId = $(this).data("post-id");
        var likeCountElement = $(this).find(".like-count");
        var dislikeCountElement = $(this).find(".dislike-count");
  
        $.ajax({
          url: "/posts/like/" + postId + "/",
          type: "POST",
          data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
          dataType: "json",
          success: function (data) {
            // Deduct dislike count if previous choice was dislike
            if (dislikeCountElement.text() !== "0") {
              dislikeCountElement.text(
                parseInt(dislikeCountElement.text()) - 1
              );
            }
  
            likeCountElement.text(data.like_count);
          },
        });
      });
  
      $(".dislike-button").click(function () {
        var postId = $(this).data("post-id");
        var likeCountElement = $(this).find(".like-count");
        var dislikeCountElement = $(this).find(".dislike-count");
  
        $.ajax({
          url: "/posts/dislike/" + postId + "/",
          type: "POST",
          data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
          dataType: "json",
          success: function (data) {
            // Deduct like count if previous choice was like
            if (likeCountElement.text() !== "0") {
              likeCountElement.text(parseInt(likeCountElement.text()) - 1);
            }
  
            dislikeCountElement.text(data.dislike_count);
          },
        });
      });
    });
  </script>
  
{% endblock %}
